body{
    font-family: "Lato", sans-serif;
    max-width: 100rem;
    margin: auto;
}

nav {
    margin:0 auto;
    width:100%;
    height:auto;
    display:inline-block;
    background:#666666;
    align-items: center;
  }
  
  nav ul {
    margin:0;padding:0;
    list-style-type:none;
    align-items: center;
    display:inline-block;
  }
  
  nav ul li {
    position:relative;
    margin:0 20px 0 0;
    display:inline-block;
  }
  
  /* li > a:after { content: ''; } /* Change this in order to change the Dropdown symbol */
  
  li > a:only-child:after { content: ''; }
  
  nav ul li a {
    padding:20px;
    display:inline-block;
    color:white;
    text-decoration:none;
  }
  
  nav ul li a:hover {
    opacity:0.5;
  }
  
  nav ul li ul {
    display:none;
    position:absolute;
    left:0;
    background: #666666;
    float: left;
  }
  
  nav ul li ul li {
    width:100%;
    border-bottom:1px solid rgba(255,255,255,.3);
  }
  
  nav ul li:hover ul {
    display:block;
  }

  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #666666;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #5d7bff;
  }
  